{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <title>pyACCESS - EMS Job Ticket Explorer</title>
        <!-- Third Party CSS Libraries -->
        <link rel="stylesheet" href="{% static 'bootstrap-3.3.7-dist/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'bootstrap-3.3.7-dist/css/bootstrap-theme.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
        <!-- Custom CSS -->
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
    </head>
    <body>
        <h1>EMS Job Ticket Explorer</h1>
        <form action="/jobnum-search/" method="get">
            {% csrf_token %}
            <label for="jobnum">Enter a Full or Partial EMS Job Number: </label>
            <input id="jobsearch" type="text" name="jobnum" value="{{ jobnum }}" placeholder="9999-99">
            <input type="submit" value="SEARCH">
        </form>    
        <!-- Third Party Javascript Libraries -->
        <script src="{% static 'jquery-3.1.1-dist/js/jquery-3.1.1.js' %}"></script>
        <!-- Custom Javascript -->
        <script src="{% static '/js/main.js' %}"></script>
    </body>
</html>