{% load staticfiles %}
{% load humanize %}
<!DOCTYPE html>
<html>
    <head>
        <title>pyACCESS - EMS Job Ticket Explorer</title>
        <!-- Third Party CSS Libraries -->
        <link rel="stylesheet" href="{% static 'bootstrap-3.3.7-dist/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'bootstrap-3.3.7-dist/css/bootstrap-theme.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
        <!-- Custom CSS -->
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
    </head>
    <body>
        <h1>Job Details</h1>
        <h3>General Information</h3>
        <div>
            {% for row in rows %}
            <table>
                <tr>
                    <th>Job Number:</th>
                    <th>{{ jobnum }}</th>
                </tr>
                <tr>
                    <td>Company/Client:</td>
                    <td>{{ row.Company }}</td>
                </tr>
                <tr>
                    <td>Description:</td>
                    <td>{{ row.JobDescp }}</td>
                </tr>
                <tr>
                    <td>Special Info.:</td>
                    <td>{{ row.MeterInst }}</td>
                </tr>
                <tr>
                    <td>Salesperson/CSR:</td>
                    <td>{{ row.Remark }}</td>
                </tr>
                <tr>
                    <td>Starting Drop Date:</td>
                    <td>{{ row.DropDate }}</td>
                </tr>
                <tr>
                    <td>Ending Drop Date:</td>
                    <td>{{ row.ToDropDate }}</td>
                </tr>
                <tr>
                    <td>Permit Number:</td>
                    <td>{{ row.Permit }}</td>
                </tr> 
                <tr>
                    <td>Total Pieces:</td>
                    <td>{{ totjobcount|intcomma }}</td>
                </tr> 
            </table>
            {% endfor %}
        </div>
        <h3>Pattern Details</h3>
        <div>
            <table>
            {% for pat in patterns %}
                <tr>
                    <td><b>Pattern:</b></td>
                    <td><b>{{ pat.jobpat }}</b></td>
                    <td>{{ pat.DESCP1 }}</td>
                    <td>{{ pat.DESCP2 }}</td>
                    <td>{{ pat.MailClass }} / {{ pat.Payment }}</td>
                    <td>{{ pat.lngNSAID |intcomma }}</td>
                </tr> 
            {% endfor %}
            </table>      
        </div>
        <!-- Third Party Javascript Libraries -->
        <script src="{% static 'jquery-3.1.1-dist/js/jquery-3.1.1.js' %}"></script>
        <!-- Custom Javascript -->
        <script src="{% static '/js/main.js' %}"></script>
    </body>
</html>