{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <title>pyACCESS - Legacy Database Access</title>
        <link rel="stylesheet" href="{% static 'bootstrap-3.3.7-dist/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'bootstrap-3.3.7-dist/css/bootstrap-theme.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    </head>
    <body>
        <h1>pyACCESS - Job List</h1>

        <div>
            <table style="width:100%">
                <tr>
                    <th>Job Number</th>
                    <th>Company/Client</th>
                    <th>Description</th>
                    <th>Salesman/CSR</th>
                    <th>Drop Start Date</th>
                    <th>Drop End Date</th>
                    <th>Permit</th>
                </tr>
                {% for row in rows %}
                <tr>
                    <td>{{ row.Jobnum }}</td>
                    <td>{{ row.Company }}</td>
                    <td>{{ row.JobDescp }}</td>
                    <td>{{ row.Remark }}</td>
                    <td>{{ row.DropDate }}</td>
                    <td>{{ row.ToDropDate }}</td>
                    <td>{{ row.Permit }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
        
        <script src="{% static 'jquery-3.1.1-dist/js/jquery-3.1.1.js' %}"></script>
        <script src="{% static '/js/main.js' %}"></script>
    </body>
</html>