{% load staticfiles %}
{% load humanize %}
<!DOCTYPE html>
<html>
    <head>
        <title>pyACCESS - EMS Job Ticket Explorer</title>
        <!-- Third Party CSS Libraries -->
        <link rel="stylesheet" href="{% static 'bootstrap-3.3.7-dist/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'bootstrap-3.3.7-dist/css/bootstrap-theme.min.css' %}">
        <link rel="stylesheet" href="{% static 'font-awesome-4.7.0/css/font-awesome.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
        <!-- Custom CSS -->
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
    </head>
    <body>
        <h1><b>EMS Job Ticket List</b></h1>
        <div>
            Results From Search: &nbsp <b>"{{ jobnum }}"</b>
        </div>
        <div>
            Number of Jobs Found: &nbsp <b>{{ rows|length|intcomma }}</b>
        </div>
        <br>
        <div>
            <a href="/">BACK TO SEARCH</a> 
        </div>
        <br>
        <div>
            <table class="table table-bordered table-striped table-condensed">
                <tr>
                    <th>Job Number</th>
                    <th>Company/Client</th>
                    <th>Description</th>
                    <th>Salesman/CSR</th>
                    <th>Drop Start Date</th>
                    <th>Drop End Date</th>
                    <th>Permit</th>
                </tr>
                {% for row in rows %}
                    <tr>
                        <td><a href="/job-details/{{ row.Jobnum }}"> {{ row.Jobnum }}</a></td>
                        <td>{{ row.Company }}</td>
                        <td>{{ row.JobDescp }}</td>
                        <td>{{ row.Remark }}</td>
                        <td>{{ row.DropDate }}</td>
                        <td>{{ row.ToDropDate }}</td>
                        <td>{{ row.Permit }}</td>
                    </tr>
                {% endfor %}
            </table>
            <div>
                <a href="/">BACK TO SEARCH</a> 
            </div>
        </div>
        <!-- Third Party Javascript Libraries -->
        <script src="{% static 'jquery-3.1.1-dist/js/jquery-3.1.1.js' %}"></script>
        <!-- Custom Javascript -->
        <script src="{% static '/js/main.js' %}"></script>
    </body>
</html>